<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Store</title>

  <!-- styles -->
  {% style "/assets/bulma/css/bulma.min.css" %}
  {% style "/assets/material-icons/css/material-icons.min.css" %}

  {% style "/css/screen.css" %}
</head>

<body>
  
  <section class="section">
    <div class="container bulma-has-text-centered">
      {% include "nav-bar.html" %}

      {% block content %}
      {% endblock %}
    </div>
  </section>

  <!-- scripts -->
  <script type="text/javascript">
    (function () {
      var burger = document.querySelector('.burger');
      var nav = document.querySelector('#' + burger.dataset.target);
      burger.addEventListener('click', function () {
        burger.classList.toggle('is-active');
        nav.classList.toggle('is-active');
      });
    })();
  </script>

  <script src="https://unpkg.com/htmx.org@2.0.1"></script>


  {% block page-scripts %}
  {% endblock %}
</body>

</html>