<tr hx-trigger='cancel' class='editing' hx-get="/sku/{{sku}}">
  <td>{{sku}}</td>
  <td>{{name}}</td>
  <td>{{planogram}}</td>
  <td>{{stock}}</td>
  <td>{{shelf}}</td>
  <td class="{{color}}">{{replenish}}</td>
  <td style="width: 15%;">
    <div class="field">
      <div class="control is-loading">
        <input 
        class="control is-small is-loading" 
        type="number" 
        maxlength="2" 
        name='put' 
        value='0'
        style="width: 30%">
      </div>
    </div>
  </td>
  <td>{{empty}}</td>

  <td>
    <button 
    class="button is-primary is-outlined" 
    hx-get="get/sku/{{sku}}"
    style="width: 60px;">
      ні    
    </button>
    <button class="button is-primary is-outlined" hx-put="/sku/{{sku}}" hx-include="closest tr">
      так
    </button>
  </td>
</tr>
